@media(max-width: 1280px) {
    .cabecalho {
        padding: 30px;
    }
    
    .home {
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
    }

    .home .info {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media(max-width: 430px) {
    .home .info h1 {
        font-size: 30px;
    }

    .home .info p {
        font-size: 16px;
        max-width: 350px;
    }

    .home .container-foto img {
        max-width: 320px;
    }

    .projetos {
        padding: 35px;
    }
}